/* SalesScreen.css */

.sales-screen {
    display: flex;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  .sales-content {
    flex-grow: 1;
    padding: 80px;
  }
  
  /* This adds spacing between each block */
  .section {
    margin-bottom: 80px;
  }
  
  /* Optional: add a card look to each section */
  .section {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  .logout-button {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px !important;
  margin: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(0, 109, 139);
  color: white;
  border: none;
  cursor: pointer;
}
